body {
  background-color: rgb(237, 237, 237);
}
.container{
  max-width: 100%;
}
.col-md-6 {
  position: relative;
}
.row.align-items-center .col-md-8 {
  width: 60%;
}
.row.align-items-center  .col-md-4 {
  width: 40%;
}
.cusPrice::before{
content: "₹";
}

.bname {
  position: fixed;
  max-width: 100%;
  z-index: 10;
  background-color: var(--bs-blue);
  color: #fff;
  padding: 0.6rem;
  text-align: center;
  margin-bottom: 0.4rem;
  border-radius:0 0 .4em 0.4em;
}
div#toastPlacement{
position: fixed;
padding: 1em;
}
.bg-success {
  color: #fff
}
.bname h2 {
  margin: 0;
}
input#searchInput{
  border: none;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

img {
  height: 7em;
  object-fit: cover;
  width: 100%;
}


p.card-text {
  color: gray;
}
.card-title{
  font-weight: bolder!important;
}
span#itmNmEng {
  display: none;
}
.p-w-box input {
  padding: 0;
  background: none;
  border: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: .8rem;
}

.card-footer .p-w-box {
  width: min-content;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  place-items: center;
  text-align: center;
  margin: 0 auto;
}

.price,.cusPriceDiv {
  display: inline-flex;
}

div.weight {
  font-size: 1rem;
  color: gray;
  padding: 0 0.2rem;
}

.btn-floating {
  position: fixed;
  bottom: 5%;
  /* Adjust percentage as needed */
  right: 5%;
  /* Adjust percentage as needed */
  z-index: 1000;
}

#editCardModal div.mt-3 {
  display: flex;
  gap: 0.4rem;
}

#editCardModal div.mt-3 :nth-child(2) {
  width: 100%;
}

#editCardModal button.btn.btn-primary {
  width: -webkit-fill-available;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: linear-gradient(
      45deg,
      rgba(169, 169, 169, 0) 0%,
      rgba(169, 169, 169, 0) 43%,
      #a9a9a9 45%,
      #a9a9a9 55%,
      rgba(169, 169, 169, 0) 57%,
      rgba(169, 169, 169, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #a9a9a9 45%,
      #a9a9a9 55%,
      transparent 57%,
      transparent 100%
    );
}

h6 {
  font-size: 0.8rem;
  color: gray;
}
h5#modal-title {
  display: inline-block;
}
.modal-title + span {
  color: var(--bs-primary);
  font-size: 1.25rem;
}
button.close {
  border: 0;
  background: none;
  font-size: 2rem;
  color: gray;
}
#edtime {
  padding: 0 0.4rem;
}

.minput {
  margin-bottom: 0.4rem;
}

.modal {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content {
  border:none ;
}
.cdppkg{
  gap:4px;
}
.bg-danger,.bg-primary{
  color: #fff;
  fill:#fff;
}
.btn-close{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(120) contrast(120%);
}